RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{www.spreeos.com} [L,R=301,NE]
#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^spreeos.com [NC]
#RewriteRule ^(.*)$ https://www.spreeos.com/$1 [L,R=301,NC]
RewriteRule ^(.*)$ http://www.spreeos.com/$1 [L,R=301,NC]
#RewriteRule ^(.*)$ https://www.spreeos.com [R=302,L]
Order deny,allow
Deny from all
